{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Manage Comments{% endblock %}

{% block content %}
    <div>
        <h1>
            Comments
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#" class="nav-link disabled">Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter', 'all') == 'all' %}active{% endif %}" href="{{ url_for('.manage_comment', filter='all') }}">
                    All
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter', 'all') == 'unread' %}active{% endif %}" href="{{ url_for('.manage_comment', filter='unread') }}">
                    Unread 
                    {% if unread_comments %}
                        <span class="bodge badge-success">{{ unread_comments }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter', 'all') == 'admin' %}active{% endif %}" href="{{ url_for('.manage_comment', filter='admin') }}">
                    From Admin
                </a>
            </li>                                
        </ul>
    </div>

    {% if comments %}
        <table class="table table-striped">
            <head>
                <tr>
                    <th>Comment id</th>
                    <th>Author</th>
                    <th>Body</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </head>
            {% for comment in comments %}
                <tr {% if not comment.reviewed %}class="table-warning"{% endif %}>
                    <td>{{ comment.id }}</td>
                    <td>
                        {% if comment.from_admin %}
                            {{ admin.name }}
                        {% else %}
                            {{ comment.author }}
                        {% endif %}
                        <br>
                        {% if comment.site %}
                            <a href="{{ comment.site}}">{{ comment.site }}</a>
                        {% endif %}
                        <br>
                        <a href="mailto:{{ comment.email }}">{{ comment.email }}</a>
                        <br>
                        {% if comment.from_admin %}
                            <span class="badge badge-primary">Author</span>
                        {% endif %}
                    </td>
                    <td>{{ comment.body }}</td>
                    <td>{{ moment(comment.timestamp).format('LL') }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="url_for('blog.show_post', post_id=comment.post.id)">
                            Post
                        </a>
                        <form class="inline" method="post" action="{{ url_for('.delete_comment', comment_id=comment.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
                            <button type="submit" class="btn btn-warning btn-sm" onclick="return confirm('Are you sure?');">
                                Delete
                            </button>
                        </form>
                        {% if not comment.reviewed %}
                            <form class="inline" method="post" action="{{ url_for('.approve_comment', comment_id=comment.id, next=request.full_path) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-sm btn-success">
                                    Approve
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">
            {{ render_pagination(pagination) }}
        </div>
    {% else %}
        <div class="tip">
            <h5>No Comments.</h5>
        </div>
    {% endif %}
{% endblock %}